 html,
body,
div,
ul,
li,
a,
p,
strong {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
}
body #wrapper {
  font: 16px solid black;
  margin: 25px auto;
  width: 960px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
body #wrapper > header {
  display: block;
  margin: 15px;
  margin-top: 50px;
}
body #wrapper > header h1 {
  font-size: 2.7em;
  font-weight: bold;
  margin: 0 auto;
  width: 90%;
  display: block;
}
body #wrapper > header nav {
  display: block;
  margin-right: 50px;
  text-align: right;
}
body #wrapper > header nav ul {
  list-style-type: none;
}
body #wrapper > header nav ul li {
  display: inline-block;
  font-size: 1.3em;
  padding: 0;
}
body #wrapper > header nav ul li a {
  display: block;
  padding: 5px 15px;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
body #wrapper > header nav ul li:hover a {
  text-decoration: underline;
  background: #eee;
}
body #wrapper > header nav ul li.selected {
  background: #ccc;
}
body #main-content {
  display: block;
  width: 90%;
  min-height: 360px;
  margin: 15px auto;
  padding: 25px;
  border: 1px solid #ccc;
  border-radius: 15px;
}
body #main-content h1 {
  font-size: 1.7em;
}
body #main-content ul {
  list-style-type: none;
  text-indent: 0;
  margin: 0;
  padding: 0;
}
body #main-content ul li {
  margin: 0;
  padding: 0;
}
